// 验证
.mandatory-msg {
	display: none;
}
.has-error {
	.mandatory-msg {
		display: block;		
	}
}




.pr-5 {
    padding-right: 5px;
}

.control-group {
    .w-45 {
        width: 45px;
    }
	.w-55 {
		width: 55px;
	}
	.w-65 {
		width: 65px;
	}
    .w-105 {
        width: 105px;
    }
    .w-150 {
        width: 150px;
    }
    .w-350 {
        width: 350px;
    }
    .m-0-auto {
        margin: 0 auto;
    }
	.disabled {
		cursor: not-allowed;
        opacity: .6;
        background: #eee;
	}
    
    .txtl {
        text-align: left;
    }
}

.w-140-l-r {
    padding-right: 14px;
    width: 140px;
    text-align: right;
    border-left: 1px solid #e9e9e9;  /*新增*/
    border-right: 1px solid #e9e9e9;
}




.relative {
    position: relative;
}
.icon_close {
    position: absolute;
    top: 11px;
    right: 20px;
    font-size: 12px;
    line-height: 12px;
    color: #c8c8c8;
}

.w-65{
    width:65px;
}
.btn-primary{
    height:32px ! important;
    line-height:32px ! important;
    padding-top:0px ! important;
    padding-bottom:0px ! important;
}
.clear_button{
    vertical-align:baseline ! important;
}
.special-button{
    background:#f7f7f7 ! important;
    border:1px solid #ccc ! important;
    color:#666 ! important;
}
input:disabled{
    background:#eee;
}

.dialog {
    min-width: auto;
}
.dialog .dialog-bd img {
    display: block;
    margin: 0 auto 10px;
}

